.container {
  @include container;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.title {
  @include Body-Bold-L;
}

.description {
  @include Body-Regular-L;
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  border-radius: 30px;
  background-color: $red-dark;
  padding: 10px 20px;
  height: 52px;
  color: $white;
  @include Body-Regular-L;
}
.wrapper {
  display: flex;
  gap: 10px;
}
.icon-sample {
  display: flex;
  align-items: center;
  gap: 10px;
}
