// Breakpoints
$mobile-width: 576px; // Small devices
$tablet-width: 768px; // Medium devices
$desktop-width: 1024px; // Large devices
$desktop-l-width: 1440px; // Extra large devices

// Mobile first approach
@mixin mobile-up {
  @media (min-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop-l-up {
  @media (min-width: #{$desktop-l-width}) {
    @content;
  }
}

// Desktop first approach
@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

// Container mixin
@mixin container {
  // 1440 - 1919
  width: 100%;
  padding: 0px 30px;
  max-width: 100%;
  margin: 0px auto;
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;

  @include tablet-up {
    max-width: 960px;
    padding: 0px 30px;
  }
  @include desktop-up {
    max-width: 1024px;
    padding: 0px 150px;
  }
  @include desktop-l-up {
    max-width: 1920px;
    padding: 0px 270px;
  }
}
